In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('RW opn').getOrCreate()

In [3]:
data = [["Sunil","Maths",85],["Sravan","Science", 89], ["Sravanika", "English",78], ["Ramesh","History",85],
["Sushil","Maths",75],["Matthew","Science",96]]

columns = ["Name", "Major", "Score"]

df = spark.createDataFrame(data).toDF(*columns)
df.show()
df.printSchema()
print("The total number of partions is: ",df.rdd.getNumPartitions())

#changing the partitions so that we can have 2 files in hdfs
df = df.repartition(3)
df.rdd.getNumPartitions()

+---------+-------+-----+
|     Name|  Major|Score|
+---------+-------+-----+
|    Sunil|  Maths|   85|
|   Sravan|Science|   89|
|Sravanika|English|   78|
|   Ramesh|History|   85|
|   Sushil|  Maths|   75|
|  Matthew|Science|   96|
+---------+-------+-----+

root
 |-- Name: string (nullable = true)
 |-- Major: string (nullable = true)
 |-- Score: long (nullable = true)

The total number of partions is:  12

3

In [4]:
#save/write csv file to hdfs----
df.write.option("header",True).csv("hdfs://localhost:9000/spark/csv/")

#save write textfile to hdfs. for textfile, we must convert the dataframe to one column or change it to an rdd
df.rdd.saveAsTextFile("hdfs://localhost:9000/spark/text/")           #converting to an rdd

#write to hdfs in json format------
df.write.json(path='hdfs://localhost:9000/spark/json/')

#write to parquet file
df.write.parquet("hdfs://localhost:9000/spark/paquet/")

#write to avro file---
df.write.format("avro").save("hdfs://localhost:9000/spark/avro/")

In [11]:
#read different format files from hdfs--

#reading csv file that we just stored earlier

print("csv--")
new_df = spark.read.option('header',True).csv("hdfs://localhost:9000/spark/csv/*.csv")
new_df.show()

#reading textfile as an rdd
print("text--")
new_df = spark.sparkContext.textFile("hdfs://localhost:9000/spark/*.txt")
print(new_df.collect())

#reading json file from hdfs
print("json---")
new_df = spark.read.json("hdfs://localhost:9000/spark/json/*.json")
new_df.show()
new_df.printSchema()

#reading json file from local
new_df = spark.read.option("multiline",'true').json("/home/hdoop/Testing/StudentJson.json")
new_df.show(15)
new_df.printSchema()

#reading parquet file from hdfs
print("parquet--")
new_df = spark.read.parquet("hdfs://localhost:9000/spark/paquet/*.parquet")
new_df.show()
new_df.printSchema()

#reading parquet file from local
new_df = spark.read.parquet("/home/hdoop/Testing/ParquetSample.parquet")
new_df.show(15)
new_df.printSchema()


#reading avro file from hdfs
print("avro----")
new_df = spark.read.format("avro").load("hdfs://localhost:9000/spark/avro/*.avro")
new_df.show()
new_df.printSchema()


#reading avro from local
new_df = spark.read.format("avro").load("/home/hdoop/Testing/AvroSample.avro")
new_df.show(15)
new_df.printSchema()

csv--
+---------+-------+-----+
|     Name|  Major|Score|
+---------+-------+-----+
|   Sravan|Science|   89|
|Sravanika|English|   78|
|    Sunil|  Maths|   85|
|  Matthew|Science|   96|
|   Ramesh|History|   85|
|   Sushil|  Maths|   75|
+---------+-------+-----+

text--
['this is just a simple text file generated to check the working of importing', 'from hdfs using pyspark']
json---
+-------+---------+-----+
|  Major|     Name|Score|
+-------+---------+-----+
|Science|   Sravan|   89|
|English|Sravanika|   78|
|  Maths|    Sunil|   85|
|Science|  Matthew|   96|
|History|   Ramesh|   85|
|  Maths|   Sushil|   75|
+-------+---------+-----+

root
 |-- Major: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Score: long (nullable = true)

+---+--------------+--------+---------+------+------+------+---+--------+--------+----+--------------+-------------+
|Age|          City| Country|FirstName|Gender|Grade |Height| ID|LastName|   Major| SAT|         State|StudentStatus|
+---+--------------+--------+---------+------+------+------+---+--------+--------+----+--------------+-------------+
| 30|   Los Angeles|      US|   JANE01|Female|    67|    61|  1|   DOE01|Politics|2263|    California|     Graduate|
| 19|        Sedona|      US|   JANE02|Female|    63|    64|  2|   DOE02|    Math|2006|       Arizona|Undergraduate|
| 26|        Elmira|      US|    JOE01|  Male|    78|    73|  3|   DOE01|    Math|2221|      New York|     Graduate|
| 33|     Lackawana|      US|    JOE02|  Male|    78|    68|  4|   DOE02|    Econ|1716|      New York|     Graduate|
| 37|      Defiance|      US|    JOE03|  Male|    65|    71|  5|   DOE03|    Econ|1701|          Ohio|     Graduate|
| 25|      Tel Aviv|  Israel|    JOE04|  Male|    69|    67|  6|   DOE04|    Econ|1786|        Israel|     Graduate|
| 39|         Cimax|      US|    JOE05|  Male|    96|    70|  7|   DOE05|Politics|1577|North Carolina|     Graduate|
| 21|       Liberal|      US|   JANE03|Female|    87|    62|  8|   DOE03|Politics|1842|        Kansas|Undergraduate|
| 18|      Montreal|  Canada|   JANE04|Female|    91|    62|  9|   DOE04|    Math|1813|        Canada|Undergraduate|
| 33|      New York|      US|   JANE05|Female|    71|    66| 10|   DOE05|    Math|2041|      New York|     Graduate|
| 18|     Hot Coffe|      US|    JOE06|  Male|    82|    67| 11|   DOE06|    Econ|1787|   Mississippi|Undergraduate|
| 38|          Java|      US|   JANE06|Female|    79|    59| 12|   DOE06|    Math|1513|      Virginia|     Graduate|
| 30|         Varna|Bulgaria|    JOE07|  Male|    79|    63| 13|   DOE07|Politics|1637|      Bulgaria|     Graduate|
| 30|        Moscow|  Russia|    JOE08|  Male|    70|    75| 14|   DOE08|Politics|1512|        Russia|     Graduate|
| 21|Drunkard Creek|      US|   JANE07|Female|    82|    64| 15|   DOE07|    Math|1338|      New York|Undergraduate|
+---+--------------+--------+---------+------+------+------+---+--------+--------+----+--------------+-------------+
only showing top 15 rows

root
 |-- Age: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Grade : string (nullable = true)
 |-- Height: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Major: string (nullable = true)
 |-- SAT: string (nullable = true)
 |-- State: string (nullable = true)
 |-- StudentStatus: string (nullable = true)

parquet--
+---------+-------+-----+
|     Name|  Major|Score|
+---------+-------+-----+
|   Sravan|Science|   89|
|Sravanika|English|   78|
|    Sunil|  Maths|   85|
|  Matthew|Science|   96|
|   Ramesh|History|   85|
|   Sushil|  Maths|   75|
+---------+-------+-----+

root
 |-- Name: string (nullable = true)
 |-- Major: string (nullable = true)
 |-- Score: long (nullable = true)

+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name| last_name|               email|gender|     ip_address|                 cc|  country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
|2016-02-03 21:37:46|  1|    Ernest|    Fuller|efuller0@examiner...|  Male|   106.72.28.74|   5610608195667267|   Israel|          |140639.36|                    |                    |
|2016-02-04 03:22:07|  2|   Anthony|    Foster|  afoster1@weibo.com|  Male|156.243.130.166|   4508242795214771|Indonesia| 1/16/1998|172843.61|        Developer II|üëæ üôá üíÅ üôÖ üôÜ üôã...|
|2016-02-03 07:52:19|  3|      Ryan|Montgomery|rmontgomery2@mozi...|  Male|  28.55.168.128|                   | Colombia|11/21/1978|204620.66|         Developer I|                   ‚ê¢|
|2016-02-03 09:50:04|  4|    Brenda|    Nelson|bnelson3@photobuc...|Female|  185.81.160.85|                   |Guatemala|10/29/1998|260474.12|GIS Technical Arc...|                    |
|2016-02-03 05:45:16|  5|Jacqueline|     Ellis|  jellis4@amazon.com|Female|  158.137.238.6|                   |   Russia| 7/12/1959|286038.78| Marketing Assistant|                    |
|2016-02-04 01:18:14|  6|      Paul|  Ferguson| pferguson5@gmpg.org|  Male|141.122.136.144|     30501574577558| Thailand|          |241518.24|                    |                    |
|2016-02-03 14:29:05|  7|     Linda|      Hunt|    lhunt6@prlog.org|Female|  104.179.97.82|                   |   Russia| 3/30/1988|192756.38|           Professor|                    |
|2016-02-03 13:34:51|  8|   Frances|       Kim|      fkim7@blog.com|Female|   28.77.158.48| 676306013856639159|Indonesia|          |188511.28|                    |<svg><script>0<1>...|
|2016-02-03 13:42:33|  9|     Jason|  Matthews|jmatthews8@google...|  Male|  72.129.239.24|   3534550235909507|    China| 7/29/1982|238068.56|    Web Designer III|                    |
|2016-02-03 22:38:02| 10|   Carolyn|   Elliott|celliott9@cpanel.net|Female|   51.211.70.30|   3563436733386899|Indonesia| 4/28/1977|132718.26|      Research Nurse|                    |
|2016-02-03 09:52:59| 11|    Thomas|     Mills|     tmillsa@psu.edu|  Male|104.114.227.199|5018278895598921190|   Russia|          |236386.69|                    |                    |
|2016-02-04 02:49:27| 12|   Russell|       Lee|rleeb@howstuffwor...|  Male|193.165.137.217|                   |    China|          |280252.36|                    |         üêµ üôà üôâ üôä|
|2016-02-04 00:17:44| 13|     Chris|    Bailey|cbaileyc@redcross...|  Male|246.109.118.154|     30485245023962| Thailand|11/26/1970|200218.34|Research Assistant I|                    |
|2016-02-03 05:31:52| 14|      Eric|    Parker|    eparkerd@usa.gov|  Male|   25.73.91.135|   5602249431899032|   Russia| 8/12/1986|102832.54|      Tax Accountant|                    |
|2016-02-04 00:43:08| 15|      Anne| Robertson|arobertsone@geoci...|Female|   209.77.27.30|                   |  Armenia|          |168201.04|                    |                  „ÄÄ|
+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
only showing top 15 rows

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

avro----
+---------+-------+-----+
|     Name|  Major|Score|
+---------+-------+-----+
|   Sravan|Science|   89|
|Sravanika|English|   78|
|    Sunil|  Maths|   85|
|  Matthew|Science|   96|
|   Ramesh|History|   85|
|   Sushil|  Maths|   75|
+---------+-------+-----+

root
 |-- Name: string (nullable = true)
 |-- Major: string (nullable = true)
 |-- Score: long (nullable = true)

+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|   registration_dttm| id|first_name|last_name|               email|gender|    ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03T07:55:29Z|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03T17:04:03Z|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|               null|              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03T01:09:31Z|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03T12:36:21Z|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03T05:05:31Z|  5|    Carlos|    Burns|cburns4@miitbeian...|      |169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03T07:22:34Z|  6|   Kathryn|    White|  kwhite5@google.com|Female|195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03T08:33:08Z|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male|232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03T06:47:06Z|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|  91.235.51.73|               null|Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03T03:52:53Z|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|  132.31.53.61|               null|         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03T18:29:47Z| 10|     Emily|  Stewart|estewart9@opensou...|Female|143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03T12:10:42Z| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|   180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03T18:04:34Z| 12|     Alice|    Berry|aberryb@wikipedia...|Female|246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03T18:48:17Z| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|  157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03T21:46:52Z| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female| 81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03T08:53:23Z| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|      8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 15 rows

root
 |-- registration_dttm: string (nullable = true)
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: long (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

In [4]:
#reading parquet file from local
new_df = spark.read.parquet("/home/hdoop/Testing/ParquetSample.parquet")
new_df.show(15)
new_df.printSchema()



#reading avro from local
new_df = spark.read.format("avro").load("/home/hdoop/Testing/AvroSample.avro")
new_df.show(15)
new_df.printSchema()


new_df.createOrReplaceTempView('avro')

avrodf = spark.sql('select * from')

+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name| last_name|               email|gender|     ip_address|                 cc|  country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
|2016-02-03 21:37:46|  1|    Ernest|    Fuller|efuller0@examiner...|  Male|   106.72.28.74|   5610608195667267|   Israel|          |140639.36|                    |                    |
|2016-02-04 03:22:07|  2|   Anthony|    Foster|  afoster1@weibo.com|  Male|156.243.130.166|   4508242795214771|Indonesia| 1/16/1998|172843.61|        Developer II|üëæ üôá üíÅ üôÖ üôÜ üôã...|
|2016-02-03 07:52:19|  3|      Ryan|Montgomery|rmontgomery2@mozi...|  Male|  28.55.168.128|                   | Colombia|11/21/1978|204620.66|         Developer I|                   ‚ê¢|
|2016-02-03 09:50:04|  4|    Brenda|    Nelson|bnelson3@photobuc...|Female|  185.81.160.85|                   |Guatemala|10/29/1998|260474.12|GIS Technical Arc...|                    |
|2016-02-03 05:45:16|  5|Jacqueline|     Ellis|  jellis4@amazon.com|Female|  158.137.238.6|                   |   Russia| 7/12/1959|286038.78| Marketing Assistant|                    |
|2016-02-04 01:18:14|  6|      Paul|  Ferguson| pferguson5@gmpg.org|  Male|141.122.136.144|     30501574577558| Thailand|          |241518.24|                    |                    |
|2016-02-03 14:29:05|  7|     Linda|      Hunt|    lhunt6@prlog.org|Female|  104.179.97.82|                   |   Russia| 3/30/1988|192756.38|           Professor|                    |
|2016-02-03 13:34:51|  8|   Frances|       Kim|      fkim7@blog.com|Female|   28.77.158.48| 676306013856639159|Indonesia|          |188511.28|                    |<svg><script>0<1>...|
|2016-02-03 13:42:33|  9|     Jason|  Matthews|jmatthews8@google...|  Male|  72.129.239.24|   3534550235909507|    China| 7/29/1982|238068.56|    Web Designer III|                    |
|2016-02-03 22:38:02| 10|   Carolyn|   Elliott|celliott9@cpanel.net|Female|   51.211.70.30|   3563436733386899|Indonesia| 4/28/1977|132718.26|      Research Nurse|                    |
|2016-02-03 09:52:59| 11|    Thomas|     Mills|     tmillsa@psu.edu|  Male|104.114.227.199|5018278895598921190|   Russia|          |236386.69|                    |                    |
|2016-02-04 02:49:27| 12|   Russell|       Lee|rleeb@howstuffwor...|  Male|193.165.137.217|                   |    China|          |280252.36|                    |         üêµ üôà üôâ üôä|
|2016-02-04 00:17:44| 13|     Chris|    Bailey|cbaileyc@redcross...|  Male|246.109.118.154|     30485245023962| Thailand|11/26/1970|200218.34|Research Assistant I|                    |
|2016-02-03 05:31:52| 14|      Eric|    Parker|    eparkerd@usa.gov|  Male|   25.73.91.135|   5602249431899032|   Russia| 8/12/1986|102832.54|      Tax Accountant|                    |
|2016-02-04 00:43:08| 15|      Anne| Robertson|arobertsone@geoci...|Female|   209.77.27.30|                   |  Armenia|          |168201.04|                    |                  „ÄÄ|
+-------------------+---+----------+----------+--------------------+------+---------------+-------------------+---------+----------+---------+--------------------+--------------------+
only showing top 15 rows

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|   registration_dttm| id|first_name|last_name|               email|gender|    ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03T07:55:29Z|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03T17:04:03Z|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|               null|              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03T01:09:31Z|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03T12:36:21Z|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03T05:05:31Z|  5|    Carlos|    Burns|cburns4@miitbeian...|      |169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03T07:22:34Z|  6|   Kathryn|    White|  kwhite5@google.com|Female|195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03T08:33:08Z|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male|232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03T06:47:06Z|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|  91.235.51.73|               null|Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03T03:52:53Z|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|  132.31.53.61|               null|         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03T18:29:47Z| 10|     Emily|  Stewart|estewart9@opensou...|Female|143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03T12:10:42Z| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|   180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03T18:04:34Z| 12|     Alice|    Berry|aberryb@wikipedia...|Female|246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-03T18:48:17Z| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|  157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-03T21:46:52Z| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female| 81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03T08:53:23Z| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|      8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
+--------------------+---+----------+---------+--------------------+------+--------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 15 rows

root
 |-- registration_dttm: string (nullable = true)
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: long (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)