In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('titanic_data_SQL').getOrCreate()

22/02/11 15:38:41 WARN Utils: Your hostname, Subh-Ubuntu resolves to a loopback address: 127.0.1.1; using 192.168.29.54 instead (on interface wlp4s0)
22/02/11 15:38:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/11 15:38:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:

df = spark.read.csv("/home/subh/CFP/Pyspark/titanic.csv",header= True, inferSchema= True)
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [3]:
#to perform sql functions we create a temporary view
df.createOrReplaceTempView('titanic')

df2 = spark.sql("select PassengerID, Name, Survived from titanic limit(5)").show(truncate= False)

+-----------+---------------------------------------------------+--------+
|PassengerID|Name                                               |Survived|
+-----------+---------------------------------------------------+--------+
|1          |Braund, Mr. Owen Harris                            |0       |
|2          |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|1       |
|3          |Heikkinen, Miss. Laina                             |1       |
|4          |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |1       |
|5          |Allen, Mr. William Henry                           |0       |
+-----------+---------------------------------------------------+--------+

In [4]:
df2 = spark.sql("select Sex,avg(Survived) as average_survived from titanic group by Sex").show()

+------+-------------------+
|   Sex|   average_survived|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

In [5]:
df2 = spark.sql("select avg(Fare) as average_Fare, Pclass, Embarked from titanic group by Pclass,Embarked").show()

+------------------+------+--------+
|      average_Fare|Pclass|Embarked|
+------------------+------+--------+
|11.214083333333337|     3|       C|
|25.358335294117644|     2|       C|
|              90.0|     1|       Q|
|11.183393055555557|     3|       Q|
|             12.35|     2|       Q|
|104.71852941176469|     1|       C|
| 70.36486220472443|     1|       S|
| 14.64408300283288|     3|       S|
|20.327439024390245|     2|       S|
|              80.0|     1|    null|
+------------------+------+--------+

In [6]:
df2 = df.groupBy('Pclass').count().show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

In [7]:
df2 = df.select('Name','PassengerID','Fare','Pclass').where(df['Fare']>40.50).show(truncate= False)

+---------------------------------------------------+-----------+--------+------+
|Name                                               |PassengerID|Fare    |Pclass|
+---------------------------------------------------+-----------+--------+------+
|Cumings, Mrs. John Bradley (Florence Briggs Thayer)|2          |71.2833 |1     |
|Futrelle, Mrs. Jacques Heath (Lily May Peel)       |4          |53.1    |1     |
|McCarthy, Mr. Timothy J                            |7          |51.8625 |1     |
|Fortune, Mr. Charles Alexander                     |28         |263.0   |1     |
|Spencer, Mrs. William Augustus (Marie Eugenie)     |32         |146.5208|1     |
|Meyer, Mr. Edgar Joseph                            |35         |82.1708 |1     |
|Holverson, Mr. Alexander Oskar                     |36         |52.0    |1     |
|Laroche, Miss. Simonne Marie Anne Andree           |44         |41.5792 |2     |
|Harper, Mrs. Henry Sleeper (Myna Haxtun)           |53         |76.7292 |1     |
|Ostby, Mr. Engelhart Cornelius                     |55         |61.9792 |1     |
|Goodwin, Master. William Frederick                 |60         |46.9    |3     |
|Icard, Miss. Amelie                                |62         |80.0    |1     |
|Harris, Mr. Henry Birkhardt                        |63         |83.475  |1     |
|Goodwin, Miss. Lillian Amy                         |72         |46.9    |3     |
|Hood, Mr. Ambrose Jr                               |73         |73.5    |2     |
|Bing, Mr. Lee                                      |75         |56.4958 |3     |
|Carrau, Mr. Francisco M                            |84         |47.1    |1     |
|Fortune, Miss. Mabel Helen                         |89         |263.0   |1     |
|Chaffee, Mr. Herbert Fuller                        |93         |61.175  |1     |
|Greenfield, Mr. William Bertram                    |98         |63.3583 |1     |
+---------------------------------------------------+-----------+--------+------+
only showing top 20 rows

window function example:-------

In [8]:
from pyspark.sql import Window
from  pyspark.sql.functions import *

#imprtant for performing window functions

In [9]:
lst = [(1,'sales',4500),
(2,'sales',5600),
(3,'dev',4500),
(4,'admin',8500),
(5,'admin',8500),
(6,'admin',8500),
(7,'admin',8200),
(15,'admin',9200),
(8,'dev',8500),
(9,'dev',9500),
(10,'sales',9500),
(11,'sales',6100),
(12,'sales',4600),
(13,'sales',4000),
(14,'sales',8500),
]

df4 = spark.createDataFrame(data= lst,schema= ['id','dept','salary'])
df4.show()

+---+-----+------+
| id| dept|salary|
+---+-----+------+
|  1|sales|  4500|
|  2|sales|  5600|
|  3|  dev|  4500|
|  4|admin|  8500|
|  5|admin|  8500|
|  6|admin|  8500|
|  7|admin|  8200|
| 15|admin|  9200|
|  8|  dev|  8500|
|  9|  dev|  9500|
| 10|sales|  9500|
| 11|sales|  6100|
| 12|sales|  4600|
| 13|sales|  4000|
| 14|sales|  8500|
+---+-----+------+

In [10]:
windowSpec  = Window.partitionBy("dept").orderBy("salary")

df4.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

#windowing on the basis of the partioned column that is department and adding an extra column named as rown number

+---+-----+------+----------+
|id |dept |salary|row_number|
+---+-----+------+----------+
|7  |admin|8200  |1         |
|4  |admin|8500  |2         |
|5  |admin|8500  |3         |
|6  |admin|8500  |4         |
|15 |admin|9200  |5         |
|3  |dev  |4500  |1         |
|8  |dev  |8500  |2         |
|9  |dev  |9500  |3         |
|13 |sales|4000  |1         |
|1  |sales|4500  |2         |
|12 |sales|4600  |3         |
|2  |sales|5600  |4         |
|11 |sales|6100  |5         |
|14 |sales|8500  |6         |
|10 |sales|9500  |7         |
+---+-----+------+----------+

In [11]:
df4.withColumn("rank",rank().over(windowSpec)).show(truncate=False)

#rank() window function is used to provide a rank to the result within a window partition. 
# This function leaves gaps in rank when there are ties.

+---+-----+------+----+
|id |dept |salary|rank|
+---+-----+------+----+
|7  |admin|8200  |1   |
|4  |admin|8500  |2   |
|5  |admin|8500  |2   |
|6  |admin|8500  |2   |
|15 |admin|9200  |5   |
|3  |dev  |4500  |1   |
|8  |dev  |8500  |2   |
|9  |dev  |9500  |3   |
|13 |sales|4000  |1   |
|1  |sales|4500  |2   |
|12 |sales|4600  |3   |
|2  |sales|5600  |4   |
|11 |sales|6100  |5   |
|14 |sales|8500  |6   |
|10 |sales|9500  |7   |
+---+-----+------+----+

In [21]:
windowSpec  = Window.partitionBy("dept").orderBy("salary").rowsBetween(-1,Window.currentRow)

#here we are specifying the amount of rows we want to be seen in the salary list portion.

df4.withColumn("salary list",collect_list('salary').over(windowSpec))\
    .withColumn("Cummulative Sum",sum('salary').over(windowSpec))\
    .withColumn("Average Salary",avg('salary').over(windowSpec)).show()

+---+-----+------+------------+---------------+--------------+
| id| dept|salary| salary list|Cummulative Sum|Average Salary|
+---+-----+------+------------+---------------+--------------+
|  7|admin|  8200|      [8200]|           8200|        8200.0|
|  4|admin|  8500|[8200, 8500]|          16700|        8350.0|
|  5|admin|  8500|[8500, 8500]|          17000|        8500.0|
|  6|admin|  8500|[8500, 8500]|          17000|        8500.0|
| 15|admin|  9200|[8500, 9200]|          17700|        8850.0|
|  3|  dev|  4500|      [4500]|           4500|        4500.0|
|  8|  dev|  8500|[4500, 8500]|          13000|        6500.0|
|  9|  dev|  9500|[8500, 9500]|          18000|        9000.0|
| 13|sales|  4000|      [4000]|           4000|        4000.0|
|  1|sales|  4500|[4000, 4500]|           8500|        4250.0|
| 12|sales|  4600|[4500, 4600]|           9100|        4550.0|
|  2|sales|  5600|[4600, 5600]|          10200|        5100.0|
| 11|sales|  6100|[5600, 6100]|          11700|        5850.0|
| 14|sales|  8500|[6100, 8500]|          14600|        7300.0|
| 10|sales|  9500|[8500, 9500]|          18000|        9000.0|
+---+-----+------+------------+---------------+--------------+